@model DigitalniKlubCitalaca.Models.Knjiga

@{
    ViewData["Title"] = "Dodaj knjigu";
}

<section class="section">

    <div style="max-width:700px; margin:auto;">

        <div style="margin-bottom:30px;">
            <h1 class="section-title">Dodaj novu knjigu</h1>

            <p style="color:#8a8a8a; margin-top:-10px;">
                Unesite podatke o knjizi za Digitalni klub čitalaca.
            </p>
        </div>

        <div class="card form-box">

            <form asp-action="Create">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <label asp-for="Naziv">Naziv knjige</label>
                <input asp-for="Naziv" placeholder="Unesite naziv knjige..." />
                <span asp-validation-for="Naziv" class="text-danger"></span>

                <label asp-for="Autor">Autor</label>
                <input asp-for="Autor" placeholder="Ime autora..." />
                <span asp-validation-for="Autor" class="text-danger"></span>

                <label asp-for="Opis">Opis</label>
                <textarea asp-for="Opis"
                          rows="5"
                          placeholder="Kratak opis knjige..."></textarea>
                <span asp-validation-for="Opis" class="text-danger"></span>

                <label asp-for="BrojStranica">Broj stranica</label>
                <input asp-for="BrojStranica" type="number" />
                <span asp-validation-for="BrojStranica" class="text-danger"></span>

                <label asp-for="Zanr">Žanr</label>
                <input asp-for="Zanr" placeholder="Drama, Roman, Fantastika..." />
                <span asp-validation-for="Zanr" class="text-danger"></span>

                <div style="
                    display:flex;
                    gap:12px;
                    margin-top:30px;">

                    <button type="submit" class="btn-pink">
                        Sačuvaj knjigu
                    </button>

                    <a asp-action="Index" class="btn-dark">
                        Nazad
                    </a>

                </div>

            </form>

        </div>

    </div>

</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}